<div class="row"> 
<h1>Lista de Empleados</h1> 

<div>
    <button type="button" class="btn btn-danger" (click)="listarsiga()">Generar Nueva Asignación </button><br>  
  </div>
    <div>
  <a style="cursor: pointer" (click)="exportexcel()">
    <mat-icon> cloud_download</mat-icon>
  </a>
</div>
</div> 

 
    <div class="row">
      <div class="col-md-12">
 
<div class="d-flex justify-content-center table table-hover">
  <pagination-controls
     previousLabel="Atras"
    nextLabel="Siguiente"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls> 
</div>   

<div class="row">
  <div class="col-md-12">
<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Buscar..."
    [(ngModel)]="filterTerm"
  />
</div>
</div>
</div>


<div class="card-body table-responsive">
 <table class="table table table-hover table-striped" id="excel-table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">MATRICULA</th>
        <th scope="col"> NOMBREUSUARIO</th>
        <th scope="col">APELLIDOPATERNO</th>
        <th scope="col">APELLIDOMATERNO</th>
        <th scope="col">NOMBRECAL</th>
        <th scope="col">NOMBRECHAPTER</th>
        <th scope="col">TIPOPREPER</th>
        <th scope="col">EMPRESA</th>
        <th scope="col">ESPECIALIDAD</th>
        <th scope="col">%ASIGNADA</th>
    </tr>
    </thead>
    <tbody>
    
       <tr   
    *ngFor="let siga of AsignacionCarga | filter: filterTerm | paginate : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
                let it=index;
        "
    
    >    

    <!-- <tr   
    *ngFor="let siga of AsignacionCarga ;
                let it=index;
        "
    
    >   -->
        <th scope="row">{{ (page - 1) * tableSize + it +1  }}</th>
        <!-- <td>{{ siga.idCarga }}</td> -->
        <td>{{siga.matriculaUsuario}}</td>
        <td>{{siga.nombreUsuario}}</td>
        <td>{{siga.apellidopaternoUsuario}}</td>
        <td>{{siga.apellidomaternoUsuario}}</td>
        <td>{{siga.nombreCal}}</td>
        <td>{{siga.nombreChapter}}</td>
        <td>{{siga.tipoPreper}}</td>
        <td>{{siga.empresa}}</td>
        <td>{{siga.especialidad}}</td>
        

        <td> 
          
          <div *ngIf="siga.asignacion<100" class="colorred"> <b> {{siga.asignacion}} % </b> </div> 
          <div *ngIf="siga.asignacion>100" class="colorred"> <b> {{siga.asignacion}} % </b> </div>  
          <div *ngIf="siga.asignacion==100" class="colorblue"> <b> {{siga.asignacion}} % </b> </div>
        


        <td>

          <button type="button" class="btn btn-primary"
                            routerLink="/dashboard/{{siga.matriculaUsuario}}">Ver Asignacion</button>
        
    </td>
   
      </tr>
    </tbody>
  </table>
</div>  
</div>
</div>
             <!-- <div class="d-flex justify-content-center">
                <pagination-controls
                  previousLabel="Atras"
                  nextLabel="Siguiente"
                  (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
                </div>   -->
 